.containerCard {
  width: 300px;
  --border-radius: 15px;
  --border-width: 4px;
  appearance: none;
  position: relative;
  padding: 1em 2em;
  border: 0;
  background: rgb(5, 5, 22);
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  .div_nameRating {
    text-align: center;
  }
  .imgCard {
    text-align: center;
    width: 200px;
    height: 200px;
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .div_nameRating h2, span{
    color: white;
  }
  .div_img_card{
    margin-left: 5%;
  }
  .date p{
    text-align: center;
    color: white;
  }
}
.containerCard:hover {
  transform: scale(1.02);
}
.containerCard:after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: conic-gradient(
                  #488cfb,
                  #29dbbc,
                  #ddf505,
                  #ff9f0e,
                  #e440bb,
                  #655adc,
                  #488cfb
  );
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
}
.containerCard:hover:after {
  animation-play-state: running;
}
@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}
.containerCard, .containerCard::after{
  box-sizing: border-box;
}
.containerCard:active {
  --border-width: 5px;
}